.AboutUsheader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.AboutUsheader img {
  width: 50%;
}

.AboutUsContent {
  display: flex;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  padding: 10px 85px;
  gap: 50px;
}

.AboutUsContent h1 {
  font-size: 48px;
  font-weight: 700;
  color: #002b49;
  flex-shrink: 0;
}

.AboutUsContent p {
  font-weight: 350;
  font-size: 20px;
  color: #002b49;
  position: relative;
  width: 100%;
}

@media (max-width: 991px) {
  .AboutUsheader {
    flex-direction: column;
    padding-top: 60px;
  }

  .AboutUsContent {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  padding: 20px 40px;
  max-width: 600px;
  width: 100%;
}

  .AboutUsContent h1 {
    font-size: 40px;
    text-align: center;
  }

  .AboutUsContent p {
    font-size: 16px;
    text-align: center;
  }
  .AboutUsheader img {
  width: 70%;
}
}