.AboutUsheader {
  display: flex;
  flex-direction: column;
  background-image: url("../../../assets/AboutUsHeader.png");
  background-size: cover;
  align-items: center;
  gap: 150px;
  padding: 200px;
}

.AboutUstitle {
  font-size: 48px;
  font-weight: 600;
  color: white;
}

.AboutUsdescription {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #002b49;
  padding: 10px;
  text-align: center;
}

/* Responsive Styles for 991px */
@media (max-width: 991px) {
  .AboutUsheader {
    padding: 100px 20px;
    gap: 50px;
  }

  .AboutUstitle {
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
  }

  .AboutUsdescription {
    font-size: 12px;
    text-align: center;
    padding: 8px;
  }
}
