.InfraHeader {
  display: flex; /* Make InfraHeader a flex container */
  padding-left: 140px;
  margin-bottom: 50px;
}

.Infracontainer {
  flex-direction: column;
  margin-top: 150px;
  width: 660px;
}

.Infratitle {
  font-size: 48px;
  font-weight: 600;
  text-align: left;
  color: #002b49;
}

.Infradescription {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: #002b49;
  margin-top: 50px;
}

.LaunchButton {
  border-radius: 15px;
  background-color: rgba(0, 43, 73, 1);
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  padding: 5px 12px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
  margin-top: 25px;
  margin-right: 24px;
}

.LaunchButton:hover {
  background-color: #f48124;
}

.LaunchButton:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.DiscoverButton {
  border-radius: 15px;
  border-color: #002b49;
  background-color: transparent;
  font-size: 16px;
  color: rgba(0, 43, 73, 1);
  font-weight: 300;
  padding: 5px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.DiscoverButton:hover {
  background-color: #f48124;
}

.DiscoverButton:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.animationInfra {
  margin-top: 90px;
  display: flex;
  margin-left: 100px;
}

@media (max-width: 991px) {
  .InfraHeader {
    padding: 50px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
  }

  .Infracontainer {
    width: 100%;
    margin-top: 60px;
  }

  .Infratitle {
    font-size: 24px;
  }

  .Infradescription {
    font-size: 14px;
    margin-top: 20px;
  }

  .LaunchButton,
  .DiscoverButton {
    font-size: 12px;
    padding: 3px 8px;
  }

  .animationInfra {
    margin: 30px 10px;
    flex-direction: column;
    width: 90%; /* Adjust the percentage as needed */
  }
}
