.Usecases {
  justify-content: center;
  background-image: url("../../assets/GroupLinesFacilities.svg"),
    linear-gradient(rgba(0, 43, 73, 0.3), rgba(135, 171, 193, 0.3));
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top, center;
}

.UseCasecontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.UseCasecontainer h1 {
  color: #002b49;
  font-size: 48px;
  font-weight: 400;
  margin: auto;
}

.UseCasegrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 150px;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .UseCasegrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
