.Neu-background-section {
  background-image: url("../../assets/politoImg.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.citation {
  flex-direction: column;
  height: 250px;
  width: 425px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

.citation p {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: -180px;
  color: rgba(0, 43, 73, 1);
}

@media (max-width: 991px) {
  .Neu-content-box {
    width: 90%;
    padding: 15px 20px;
  }
  .Neu-content-box h3 {
    font-size: 20px;
  }
}
