.Neu-content-box h3 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 25px;
  text-align: left;
  color: rgba(0, 43, 73, 1);
}

.Neu-background-section {
  position: relative;
  width: 100%;
  height: 620px;
  background-image: url("../../assets/politoImg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Neu-content-box {
  padding: 20px 40px;
  border-radius: 20px;
  backdrop-filter: blur(7.5px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 70%;
  height: auto;
  margin: auto;
}

@media (max-width: 991px) {
  .Neu-content-box {
    width: 90%;
    padding: 15px 20px;
  }
  .Neu-content-box h3 {
    font-size: 20px;
  }
}
