.UCbutton {
  border-radius: 15px;
  background-color: rgba(0, 43, 73, 1);
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  align-self: center; /* or: flex-start / flex-end, depending on alignment */
  width: fit-content;
}
.UCbutton:hover {
  background-color: #f48124;
  transform: scale(1.05);
}

/* Horizontal Card */
.horizontalCard {
  position: relative;
  width: 606px;
  height: 299px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #fff;
}

.horizontalCard::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0)
  );
  border-radius: 20px;
  z-index: 0;
}

.horizontalCard img {
  object-fit: contain;
}

.horizontalContent {
  flex-direction: column;
  align-items: center;
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 259px;
  padding-top: 20px;
  margin-right: 300px;
}

.horizontalContent h2 {
  color: #002b49;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}
.horizontalContent p {
  color: #002b49;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin-top: 31px;
}

/* Vertical Card */
.verticalCard {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 299px;
  height: 606px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.verticalCard::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0)
  );
  border-radius: 20px;
  z-index: 0;
}

.verticalContent {
  border-radius: 20px;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  display: flex;
  position: relative;
}
.verticalContent h2 {
  color: #002b49;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}

.verticalContent p {
  color: #002b49;
  margin-top: 31px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

/* Square Card with Image */
.squareImageCard {
  width: 299px;
  height: 297px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.squareImageCard img {
  object-fit: cover;
}

/* Square Card without Image */
.squareTextCard {
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  padding: 20px;
  display: flex;
  position: relative;
  width: 299px;
  height: 297px;
  background-color: #fff;
}

.squareTextCard h2 {
  color: #002b49;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}
.squareTextCard p {
  color: #002b49;
  margin-top: 31px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
