.action-container {
    background-color: #002b49;
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    padding: 166px 80px;
  }
  
  .inner-container {
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 4px #fff;
    display: flex;
    width: 100%;
    max-width: 1063px;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 23px 80px;
  }
  
  .message {
    color: #002b49;
    font-size: 20px;
    margin: 0;
  }
  
  .action-button {
    border-radius: 15px;
    background-color: #002b49;
    margin-top: 23px;
    font-size: 16px;
    color: #fff;
    padding: 5px 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .action-button:hover {
    background-color: #004b89;
  }
  
  @media (max-width: 991px) {
    .action-container {
      padding: 100px 20px;
    }
    
    .inner-container {
      padding: 20px;
    }
  }