.paper-list {
    width: 100%;
    max-width: 1066px;
    margin: 0 auto;
  }
  
  .iconEx-Nx {
    display: flex;
    margin-top: 34px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .Flashicon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 48px;
  }
  
  @media (max-width: 991px) {
    .icon-container {
      max-width: 100%;
      margin-right: 2px;
    }
  }
  