.paper-container {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #002b49;
}

.paper-info {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  color: #002b49;
  font-weight: 300;
}

.paper-title {
  font-size: 20px;
  margin: 0;
  font-weight: 300;
}

.paper-keywords {
  font-size: 16px;
  margin-top: 5px;
}

.keywords-label {
  font-size: 20px;
}

.paper-actions {
  display: flex;
  margin-top: 9px;
  gap: 7px;
  margin-top: 20px;
  align-self: flex-end;
}

.img-icon {
  width: 16px;
  height: 16px;
}

.button-open-paper,
.button-simplify {
  border-radius: 15px;
  padding: 5px 12px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.button-open-paper {
  background-color: #fff;
  color: #002b49;
  border: 1px solid #002b49;
}

.podcast-button {
  background-color: #002b49;
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 70px;
}

.podcast-button:hover {
  background-color: #f48124;
}

.podcast-button.active {
  background-color: #f48124;
}

.button-simplify {
  background-color: #002b49;
  color: #fff;
  border: none;
}

.button-open-paper:hover {
  background-color: #f48124;
}

.button-simplify:hover {
  background-color: #f48124;
}

@media (max-width: 991px) {
  .paper-container {
    width: 90%;
  }
  .paper-title {
    font-size: 16px;
  }
  .paper-keywords {
    font-size: 12px;
  }
  .button-open-paper,
  .button-simplify {
    font-size: 12px;
  }
  .podcast-button {
    width: 50px;
  }
}
