.summarycontainer {
    display: flex;
    max-width: 923px;
    flex-direction: column;
  }
  
  
  
  
  
  .summaryupperGrid, .summarylowerGrid {
    display: flex;
    gap: 20px;
    margin-top: 38px;
    width: 100%;
  }
  
  .summarygridItem {
    width: 50%;
  }
  
  .summarysection {
    border-radius: 15px;
    background-color: rgba(222, 217, 225, 1);
    padding: 47px 44px;
    border: 1px solid rgba(0, 43, 73, 1);
  }
  
  .summaryheader {
    display: flex;
    align-items: flex-start;
    gap: 29px;
    justify-content: space-between;
  }
  
  .summarytitle {
    align-self: end;
    margin-top: 76px;
    font-size: 32px;
    color: rgba(244, 129, 36, 1);
    font-weight: 800;
  }
  
  .summaryicon {
    aspect-ratio: 0.8;
    object-fit: contain;
    object-position: center;
    width: 89px;
  }
  
  .summarycontent {
    color: rgba(10, 42, 73, 1);
    font-size: 16px;
    font-weight: 275;
    margin-top: 40px;
    font-family: Poppins, sans-serif;
  }
  
  @media (max-width: 991px) {
    .summaryupperGrid, .summarylowerGrid {
      flex-direction: column;
      align-items: stretch;
      gap: 11px;
    }
  
    .summarygridItem {
      width: 100%;
    }
  
    .summarysection {
      padding: 0 20px;
    }
  
    .summarytitle {
      margin-top: 40px;
      white-space: initial;
    }
  
    .summarycontent {
      margin-right: 2px;
    }
  }