.HWcontainer {
  background-image: url("../../../assets/GroupLinesFacilities.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  display: flex;
  flex-direction: column;
  padding: 80px 140px;
}

.HWcontainer h1 {
  color: #002b49;
  font-size: 48px;
  font-weight: 600;
  align-self: center;
}

.HWcardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 150px;
  margin-bottom: 30px;
  align-self: center;
}

@media (max-width: 991px) {
  .HWcontainer h1 {
    font-size: 40px;
  }
}
