/* Column container */
.InfoCardcolumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allows columns to expand */
  line-height: normal;
  width: 420px; /* Fixed width */
  max-width: 100%; /* Ensures responsiveness */
  margin-left: 20px;
  align-items: stretch;
}

/* Remove margin for the first column */
.InfoCardcolumn:first-child {
  margin-left: 0;
}

/* Card Styling */
.InfoCardcard {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  color: rgba(0, 43, 73, 1);
  margin: 0 auto;
  padding: 30px;
}

/* Responsive Design */
@media (max-width: 991px) {
  .InfoCardcard {
    margin-top: 40px;
    padding: 20px;
  }

  .InfoCardcolumn {
    width: 100%; /* Full width on smaller screens */
    margin-left: 0;
  }
}

/* Header Styling */
.InfoCardheader {
  display: flex;
  width: 100%;
  gap: 20px;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  justify-content: space-between;
}

/* Title Wrapper */
.InfoCardtitleWrapper {
  display: flex;
  gap: 19px;
}

/* Title Styles */
.InfoCardour {
  font-size: 20px;
  align-self: start;
  margin-top: 13px;
}

.InfoCardtitle {
  font-size: 32px;
}

/* Icon */
.InfoCardicon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 40px;
  margin: auto 0;
}

/* Card Content */
.InfoCardcontent {
  font-size: 20px;
  font-weight: 300;
  margin-top: 29px;
  line-height: 30px;
}

/* Mobile Adjustments */
@media (max-width: 768px) {
  .InfoCardheader {
    font-size: 28px;
    align-items: center;
  }

  .InfoCardtitleWrapper {
    flex-direction: column;
    align-items: center;
  }

  .InfoCardtitle {
    font-size: 28px;
    text-align: center;
  }

  .InfoCardcontent {
    font-size: 18px;
    
    text-align: center;
  }
}
