/*facility section*/

.Facilitycontainer {
  background-image: url("../../assets/GroupLinesFacilities.svg");
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center calc(0%);
  display: flex;
  flex-direction: column;
}

.Facilitycontainer h1 {
  color: rgba(0, 43, 73, 1);
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-top: 80px;
}

.FacilitycardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-self: center;
  margin-top: 130px;
  margin-bottom: 130px;
}

@media (max-width: 991px) {
  .Facilitycontainer {
    padding-top: 50px;
  }
  .Facilitycontainer h1 {
    font-size: 40px;
  }
  .FacilitycardGrid {
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 20px;
  }
}

/*facility card*/
.facilityCard {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  color: rgba(0, 43, 73, 1);
  width: 500px;
}

.facilityCard img {
  width: 150px;
  height: 200px;
  margin: auto;
  padding: 10px 0 10px 0;
}

.facilityCardDes {
  display: flex;
  flex-direction: column;
  background-color: rgba(244, 149, 36, 0.7);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
  text-align: left;
  gap: 20px;
  height: 350px;
}

.facilityCardDes h2 {
  font-size: 32px;
  font-weight: 400;
}

.facilityCard p {
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 991px) {
  .facilityCardDes h2 {
    font-size: 25px;
  }
}
