.toolsContainer {
  background-image: url("../../../assets/GroupLinesFacilities.svg"),
    linear-gradient(rgba(0, 43, 73, 0.3), rgba(135, 171, 193, 0.3));
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center;
  background-size: contain, contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  display: flex;
  flex-direction: column;
  padding: 80px 140px;
}

.toolsTitle {
  color: #002b49;
  font-size: 48px;
  font-weight: 400;
  margin: auto;
}

.toolsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 150px;
  margin-bottom: 30px;
  align-self: center;
}
