.teamSection {
  background-image: url("../../../assets/GroupLinesFacilities.svg"),
    linear-gradient(rgba(0, 43, 73, 0.3), rgba(135, 171, 193, 0.3));
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center;
  background-size: contain, contain; /* SVG should scale while gradient covers the section */
  display: flex;
  flex-direction: column;

  position: relative;
}

.teamSection h1 {
  color: rgba(0, 43, 73, 1);
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-top: 80px;
}

.members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  margin-top: 150px;
  margin-bottom: 130px;
  gap: 150px;
}

@media (max-width: 991px) {
  .teamSection {
    padding-top: 50px;
  }
  .teamSection h1 {
    font-size: 40px;
  }
  .members {
    grid-template-columns: repeat(1, 1fr);
    margin: 50px 20px;
    gap: 30px;
  }
}

/*card style*/

.memberCard {
  position: relative;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.memberCard:hover {
  transform: translateY(-5px);
}
.memberInfo {
  color: rgba(0, 43, 73, 1);
}

.memberDescription {
  width: 250px;
  height: auto;
  position: absolute;
  left: 0%;
  right: 2.94%;
  top: 0%;
  bottom: 0%;
  background: #ded9e1;
  color: rgba(0, 43, 73, 1);
  backdrop-filter: blur(3.5px);
  padding: 10px;
  border-radius: 15px;
  opacity: 0.9;
}

.linkedinButton {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  color: rgba(0, 43, 73, 1);
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
}

.linkedinButton:hover {
  color: #f48124;
}

@media (max-width: 991px) {
  .Teamtitle {
    font-size: 24px;
  }

  .members {
    justify-content: center;
  }
}
